[Unit]
Description=Gunicorn instance to serve my Flask app
After=network.target

[Service]
User={{ user }}
Group={{ group }}
WorkingDirectory={{ app_path }}
Environment="PATH={{ venv_path }}/bin"
ExecStart={{ venv_path }}/bin/gunicorn -k eventlet -w 1 -b localhost:8000 app:app

[Install]
WantedBy=multi-user.target