/* Globální stylování */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0px;
    padding: 0px;
}

/* Nadpisy */
h1 {
    color: #333;
}

h2 {
    color: #333;
}

/* Formuláře */
form {
    margin-bottom: 20px;
}

        button {
            background-color: #777777;
            color: #ffffff;
            border: none;
            padding: 5px 8px;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background-color: #999999;
        }

/* Tabulky */
table {
    border-collapse: collapse;
    word-wrap: break-word;
    word-break: break-all;
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    height: 2em;
}

th {
    background-color: #f2f2f2;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 3.5em;
  text-align: right;
}

.action-container {
    display: flex;
    align-items: center;
}

.action-container form {
    margin: 0;
    margin-right: 10px;
}

.action-container p {
    margin: 0;
    margin-right: 10px;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.table-wrapper {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.header {
    background-color: #4078c0;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.footer a {
    color: #e24329; /* GitLab's primary color */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    padding-bottom: 60px;
}

.content h1{
    margin-top: 80px;
}

.comment {
    font-size: 18px;
}

ul {
    margin-top: 20px;
    padding-left: 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 15px; /* Větší mezera mezi řádky */
}

/* Stylování odkazu */
ul li a {
    color: #4078c0; /* Hezčí barva odkazu */
    text-decoration: none; /* Bez podtržení */
    font-weight: bold; /* Tučný text */
}

ul li a:hover {
    text-decoration: underline; /* Podtržení při najetí myší */
}