{# index.html #}
{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html>
<head>
    <title>Registrace</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="static/functions.js" defer></script>
    <link rel="icon" type="image/png" href="https://sdhdesna.cz/favicon.ico">
</head>
<body>
    <div class="header">
        {% if locked %}
            <h1>Registrace se otevře 5. 8. 2024 v 20:00</h1>
        {% else %}
            <h1>Registrace je otevřena, zapiště svůj tým.</h1>
        {% endif %}
        {% if admin %}
            <form id="toggleLock" action="/toggle_locked" method="POST">
        {% if locked %}
            <button type="submit">Unlock</button>
        {% else %}
            <button type="submit">Lock</button>
        {% endif %}
            </form>
        {% endif %}
    </div>

    <!-- Hlavní obsah -->
    <div class="content">
    <div class="instructions">
        <h2>Pokyny:</h2>
        <ul>
            <li>Stránku není třeba obnovovat, aktualizuje se automaticky sama.</li>
            <li>Po otevření registrace se ve volných políčkách zobrazí tlačítka "Zapsat tým".</li>
            <li>Pokud se vám po kliknutí na tlačítko "Zapsat tým" zobrazí textové pole, je daná pozice vaše, a ostatní ji vidí jako obsazenou.</li>
            <li>Můžete zapsat libovolný počet týmů, ale postupně.</li>
            <li>Jména týmů můžete dodatečně upravovat, ale jen z prohlížeče, který je vytvořil.</li>
            <li>Pokud celý název týmu smažete a uložíte, pozice se uvolní.</li>
            <li>Registrace na 🔥<a href=#duel>Desenský duel</a>🔥 je ve druhé polovině stránky.</li>
        </ul>
    </div>

    <h1>LIGA</h1>
    <div class="table-container">
        <div class="table-wrapper">
            {{ macros.render_table('Muži', 'Muzi', tables_content['Muzi'], user_id, admin, locked, '🕙 Start 10:00 🕙') }}
        </div>
        <div class="table-wrapper">
            {{ macros.render_table('Ženy', 'Zeny', tables_content['Zeny'], user_id, admin, locked, '❗🕥 Start 10:30 🕥❗') }}
        </div>
        <div class="table-wrapper">
            {{ macros.render_table('Veteráni', 'Veterani', tables_content['Veterani'], user_id, admin, locked, '❗🕛 Start 12:00 🕛❗') }}
        </div>
    </div>

    <h1 id="duel">DESENSKÝ DUEL</h1>
        <p class="comment">🕐 Start 13:00 🕐</p>
        <p> Pořadí týmů v duelu se bude losovat na místě, pozice v tabulce na něj vliv nemá.</p>
    <div class="table-container">
        <div class="table-wrapper">
            {{ macros.render_table('Muži', 'Muzi_duel', tables_content['Muzi_duel'], user_id, admin, locked) }}
        </div>
        <div class="table-wrapper">
            {{ macros.render_table('Náhradníci Muži', 'Muzi_duel_zaloznici', tables_content['Muzi_duel_zaloznici'], user_id, admin, locked) }}
        </div>
        <div class="table-wrapper">
            {{ macros.render_table('Ženy', 'Zeny_duel', tables_content['Zeny_duel'], user_id, admin, locked) }}
        </div>
        <div class="table-wrapper">
            {{ macros.render_table('Náhradnice Ženy', 'Zeny_duel_zaloznici', tables_content['Zeny_duel_zaloznici'], user_id, admin, locked) }}
        </div>
    </div>
    </div>
    <div class="footer">
        &copy; 2024 Ing. Martin Klusoň | <a href="https://gitlab.com/martin_kluson/firesport-registration" target="_blank">Zdrojový kód</a>
    </div>
</body>
</html>
