{# macros.html #}
{% macro render_table(name, table_name, rows, user_id, admin, locked, comment) %}

    <h2>{{ name }}</h2>
    {% if comment %}
        <p class="comment">{{ comment }}</p>
    {% endif %}
    {% if admin %}
    <form id="addForm" action="/add_line" method="POST">
        <input type="hidden" name="table_name" value="{{ table_name }}">
        <button type="submit">Přidat řádek</button>
    </form>
    <form id="delForm" action="/delete_line" method="POST">
        <input type="hidden" name="table_name" value="{{ table_name }}">
        <button type="submit">Odstranit řádek</button>
    </form>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Pořadí</th>
            <th>Tým</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.id }}</td>
            <td>
                <div class="action-container">
                    {% if row.state == "free" and (not locked or admin)%}
                    <form action="/take" method="post" class="editForm">
                        <input type="hidden" name="row_id" value="{{ row.id }}">
                        <input type="hidden" name="table_name" value="{{ table_name }}">
                        <button type="submit">Zapsat tým</button>
                    </form>
                    {% elif row.state == "edit" %}
                    {% if row.owner == user_id and (not locked or admin)%}
                    <form action="/update_value" method="post" class="submitForm">
                        <input type="hidden" name="row_id" value="{{ row.id }}">
                        <input type="hidden" name="table_name" value="{{ table_name }}">
                        <input type="text" name="value_input_{{ table_name }}_{{ row.id }}" value="{{ row.value }}">
                        <button type="submit">Potvrdit</button>
                    </form>
                    {% else %}
                    <p>OBSAZENO - někdo se už zapisuje :-(</p>
                    {% if admin %}
                    <form action="/take" method="post" class="editForm">
                        <input type="hidden" name="row_id" value="{{ row.id }}">
                        <input type="hidden" name="table_name" value="{{ table_name }}">
                        <button type="submit">Upravit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                    {% elif row.state == "taken" %}
                    <p>{{ row.value }}</p>
                    {% if (row.owner == user_id and not locked) or admin%}
                    <form action="/take" method="post" class="editForm">
                        <input type="hidden" name="row_id" value="{{ row.id }}">
                        <input type="hidden" name="table_name" value="{{ table_name }}">
                        <button type="submit">Upravit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endmacro %}